@model iSelectManager.Models.Skill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Skill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.DisplayName)</dt>
        <dd>@Html.DisplayFor(model => model.DisplayName)</dd>
        @if (Model.WorkgroupAssignments.Count() > 0)
        {
            <dt>@Html.DisplayNameFor(model => model.WorkgroupAssignments)</dt>
            <dd>
                <table>
                    <tr><th>Owner</th><th>Proficiency</th><th>Desire to Use</th></tr>
                    @foreach(var skillsettings in Model.WorkgroupAssignments)
                    {
                        <tr><td>@skillsettings.Id.DisplayName</td><td>@skillsettings.Proficiency</td><td>@skillsettings.DesireToUse</td></tr>
                    }
                </table>
            </dd>
        }
        @if (Model.UserAssignments.Count() > 0)
        {
            <dt>@Html.DisplayNameFor(model => model.UserAssignments)</dt>
            <dd>
                <table>
                    <tr><th>Owner</th><th>Proficiency</th><th>Desire to Use</th></tr>
                    @foreach(var skillsettings in Model.UserAssignments)
                    {
                        <tr><td>@skillsettings.Id.DisplayName</td><td>@skillsettings.Proficiency</td><td>@skillsettings.DesireToUse</td></tr>
                    }
                </table>
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
