@model iSelectManager.Models.ContactList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContactList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Html.DisplayFor(model => model.DisplayName)</dd>
    </dl>

    <ul>
        <li>Reset Skill <b>1</b> for all contacts named <b>Dow</b> @Html.ActionLink("Update", "UpdateSkill", new { id = Model.id, name = "Dow", skill_index = 1, skill = "English" })</li>
        <li>Update Skill <b>1</b> for all contacts named <b>Dow</b> to <b>Speak English</b> @Html.ActionLink("Update", "UpdateSkill", new { id = Model.id, name = "Dow", skill_index = 1, skill = "Speak English" })</li>
        <li>Assign to Campaign <b>iSelect DEV A</b> all contacts named <b>Dow</b> @Html.ActionLink("Update", "UpdateCampaign", new { id = Model.id, name = "Dow", campaign = "iSelect DEV A" })</li>
        <li>Assign to Campaign <b>iSelect DEV B</b> all contacts named <b>Dow</b> @Html.ActionLink("Update", "UpdateCampaign", new { id = Model.id, name = "Dow", campaign = "iSelect DEV B" })</li>
        <li>Schedule a call tomorrow in Campaign <b>iSelect DEV A</b> for all contacts named <b>Dow</b> @Html.ActionLink("Update", "ScheduleCall", new { id = Model.id, name = "Dow", campaign = "iSelect DEV A", when = DateTime.Today.AddDays(1) })</li>
        <li>Update Status for all contacts named <b>Dow</b> to <b>Just In Time</b> @Html.ActionLink("Update", "UpdateStatus", new { id = Model.id, name = "Dow", status = "J" })</li>
    </ul>
</div>
@if (Model.AffectedRecords > -1)
{
    <p>Affected Records: @Html.DisplayFor(model => model.AffectedRecords)</p>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
