@model iSelectManager.Models.CampaignViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Campaign.DisplayName)</dt>
        <dd>@Html.DisplayFor(model => model.Campaign.DisplayName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Campaign.ContactList.DisplayName)</dt>
        <dd>@Html.DisplayFor(model => model.Campaign.ContactList.DisplayName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Campaign.AcdWorkgroup.DisplayName)</dt>
        <dd>@Html.DisplayFor(model => model.Campaign.AcdWorkgroup.DisplayName)</dd>

        @if (Model.SelectedPolicySets.Count() > 0)
        {
            <dt>@Html.DisplayNameFor(model => model.SelectedPolicySets)</dt>
            <dd>
                <table>
                    @foreach(var policyset in Model.PolicySets)
                    {
                        <tr><td>@policyset.Text</td></tr>
                    }
                </table>
            </dd>
        }

        @if (Model.ActiveAgents.Count() > 0)
        {
            <dt>@Html.DisplayNameFor(model => model.ActiveAgents)</dt>
            <dd>
                <table>
                    @foreach(var agent in Model.ActiveAgents)
                    {
                        <tr><td>@agent</td></tr>
                    }
                </table>
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
