@model DialerNetAPIDemo.Models.Workgroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Workgroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.DisplayName)</dt>
        <dd>@Html.DisplayFor(model => model.DisplayName)</dd>
        <dt>@Html.DisplayFor(model => model.Agents)</dt>
        <dd>
            <ul>
                @foreach(var agent in Model.Agents)
                {
                    <li>@Html.DisplayFor(item => item.DisplayName)</li>
                }
            </ul>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
